{% extends 'homepage/base.html' %}

{% load staticfiles %}

{% block body %}

<div class="container-fluid" style="height: 100%">
  <div class="row" style="height: 100%">
    <div class="col-2 h-100">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <b>Lager</b>
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <a type="button" class="btn btn-light btn-lg btn-block" data-target="content" onclick="load_frame({% url 'stock:stock_index' %})">Übersicht</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>Abläufe</b>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <a href="/aktuelles/" type="button" class="btn btn-secondary btn-lg btn-block">Aktuelles</a>
          <a type="button" class="btn btn-light btn-lg btn-block" data-target="content" onclick="load_frame({% url 'bestellung:bestellung_index' %})">Bestellung</a>
          <a type="button" class="btn btn-light btn-lg btn-block" data-target="content" onclick="load_frame({% url 'auftrag:auftrag_index' %})">Auftrag</a>
          <a type="button" class="btn btn-light btn-lg btn-block" data-target="content" onclick="load_frame({% url 'produktionsauftrag:produktionsauftrag_index' %})">Produktion</a>
          <a type="button" class="btn btn-light btn-lg btn-block" data-target="content" onclick="load_frame({% url 'lieferschein:lieferschein_index' %})">Lieferschein</a>
          <a type="button" class="btn btn-light btn-lg btn-block" data-target="content" onclick="load_frame({% url 'rechnung:rechnung_index' %})">Rechnung</a>

        </div>
      </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <b>Maschinenplanung</b>
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <a type="button" class="btn btn-light btn-lg btn-block" data-target="content" onclick="load_frame({% url 'maschinenplanung:maschinenplanung_index' %})">MP Ansicht</a>
        </div>
      </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                <b>Auswertungen</b>
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <a href="/maschinenplanung/" type="button" class="btn btn-light btn-lg btn-block">Rechnungen</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 embed-responsive">
      <iframe id="content">
        Your browser doesn't support iFrames.
      </iframe>
    </div>
    <div class="col-1">
      <h2 align="right"><span class="badge badge-dark">{{ aktuelle_kw_string }}</span></h2>
    </div>
  </div>
</div>

{% endblock %}