{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
<html>
<head>
</head>
<body>

<h2>Hauptmenü</h2>
<div class="btn-group">
  <a href="/stock/" class="button button_yellow">Lager</a>
  <div id="boxed">
      <a href="/stock/"  class="button1">Bestellung</a>
      <a href="/stock/"  class="button1">Produktion</a>
      <a href="/stock/"  class="button1">Lieferschein</a>
      <a href="/textdocs/invoice/"  class="button1">Rechnung</a>
  </div>
  <a href="/maschinenplanung/" class="button button_blue">Maschinenplanung</a>
</div>

</body>
</html>