.git_grid {
    display: grid;

               Breite der Spalten (z.B. als px, %)
                            +
                            |
    grid-template-columns: 32% 32% 32%;

                +-- Abstand der Spalten und Zeilen
                |
    grid-gap: 10px;
}
.elem1 {
   grid-row: 1;
   grid-column: 1 / 3; // Element von Linie 1 bis Linie 3
}

table, th, td {
  border: 3px solid black;
  padding: 15px;
}

tr {
width=1000px;
}