{% load staticfiles %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<!--<link rel="stylesheet" type="text/css" href="{% static 'maschinenplanung/style.css' %}">-->
<html>
<head>
</head>
<body>

  <div class="container">
    <h2>Maschinenplanung</h2>
    <table class="table table-striped table-dark table-bordered">
      <thead>
        <tr>
          <th style="width:2%">Maschine</th>
          {% for item in weekdays %}
          <th style="width:14%">{{ item }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for i in machines %}
        {% comment %}
<!--        <tr>-->
<!--            <td><b>{{i}}</b></td>-->
<!--            <td colspan="7">-->
<!--                <svg width="100%" height="100%">-->
<!--                <rect height="100%" width="100%" y="0" x="0" fill="#dcdcdc"/>-->
<!--                    {% for item in ordered_list %}-->
<!--                <rect height="100%" width=" {{ item.runtime }}% " y="0" x= "{{ item.starting_time }}%" fill=#28a745-->
<!--                style="stroke-width: 3; stroke: rgb(0,0,0); anchor: left"/>-->
<!--                <text y="50%" x="{{ item.starting_time }}%" fill="grey" style="font: bold 16px sans-serif;-->
<!--                                  text-anchor: middle; writing-mode: vertical-rl; text-orientation: sideways;">-->
<!--                    <tspan style="baseline-shift:10;">{{ item.name }}</tspan>-->
<!--                </text>-->
<!--                    {% endfor %}-->
<!--                </svg>-->
<!--            </td>-->
<!--        </tr>-->
        {% endcomment %}
        <tr>
          <td><b>{{i}}</b></td>
          <td> <!--colspan="5" ohne Wochenende-->
            <div class="container">A

            </div>
          </td>
          <td>
            <div class="container" id="grid_container">
              <div>1</div>
              <div>2</div>
              <div>3</div>
              <div>4</div>
              <div>5</div>
              <div>6</div>
              <div>7</div>
              <div>8</div>
              <div>9</div>
              <div>10</div>
              <div>11</div>
              <div>12</div>
            </div>
          </td>
          <td>
            <div class="grid_container">
              C
            </div>
          </td>
          <td>
            <div class="grid_container">
              D
            </div>
          </td>
          <td>
            <div class="grid_container">
              E
            </div>
          </td><!--              <div class="progress colspan-3" style="height: 40px;">-->
  <!--              <div class="container">-->
  <!--                <div class="row">-->
  <!--                  <div class="col-12 col-md-8">.col-12 .col-md-8</div>-->
  <!--                  <div class="col-6 col-md-4">.col-6 .col-md-4</div>-->
  <!--                </div>-->
  <!--              </div>-->

  <!--                {% for item in ordered_list %}-->

  <!--                {% endfor %}-->
<!--              </div>-->
<!--            </div>-->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
</body>
</html>