{% load staticfiles %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<!--<link rel="stylesheet" type="text/css" href="{% static 'maschinenplanung/style.css' %}">-->

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Maschine');
      data.addColumn('date', 'Season Start Date');
      data.addColumn('date', 'Season End Date');

      data.addRows([
      {% for item in da_real_array %}
        ['{{ item.0 }}', new Date('{{ item.1 }}'), new Date('{{ item.2 }}')],

      {% endfor %}
      {% comment %}
        ['Maschine 2', new Date(2001, 1, 1), new Date(2001, 1, 5)],
        ['Maschine 3', new Date(2001, 1, 2), new Date(2001, 1, 5)],
        ['Maschine 4', new Date(2001, 1, 3), new Date(2001, 1, 5)],
        ['Maschine 5', new Date(2001, 1, 4), new Date(2001, 1, 5)],
      {% endcomment %}
      ]);

      var options = {
        height: 450,
        timeline: {
          groupByRowLabel: true
        }

      };

      var chart = new google.visualization.Timeline(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
    </script>
  </head>
<body>
  <div class="container">
    <h2>Maschinenplanung</h2>
    <table class="table table-striped table-dark table-bordered">
      <thead>
        <tr>
          <th style="width:2%">Maschine</th>
          {% for item in weekdays %}
          <th style="width:14%">{{ item }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6" rowspan="5"> <!--colspan="5" ohne Wochenende-->
              <div id="chart_div"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>