{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'maschinenplanung/style.css' %}">
<html>
<head>
</head>
<body>

<h2>Maschinenplanung</h2>
<div class="rTable">
<div class="rTableRow">
<div class="rTableHead"><strong>Montag</strong></div>
<div class="rTableHead"><span style="font-weight: bold;">Telephone</span></div>
<div class="rTableHead">&nbsp;</div>
</div>
<div class="rTableRow">
<div class="rTableCell">Dienstag</div>
<div class="rTableCell"><a href="tel:0123456785">0123 456 785</a></div>
<div class="rTableCell"><img src="images/check.gif" alt="checked" /></div>
</div>
<div class="rTableRow">
<div class="rTableCell">Mittwoch</div>
<div class="rTableCell"><a href="tel:9876532432">9876 532 432</a></div>
<div class="rTableCell"><img src="images/check.gif" alt="checked" /></div>
</div>
</div>

<h2>Maschinenplanung</h2>

<div class="rTable_left">
<div class="rTableRow">
<div class="rTableHead"><strong>Montag</strong></div>
</div>
</div>

<div class="rTable_plan">
<div class="rTableRow">
<div class="rTableHead">Montag</div>
<div class="rTableHead">Dienstag</div>
<div class="rTableHead">Mittwoch</div>
<div class="rTableHead">Donnerstag</div>
<div class="rTableHead">Freitag</div>
<div class="rTableHead">Samstag</div>
<div class="rTableHead">Sonntag</div>
</div>
</div>
  </tr>
  {% for i in spalten %}
  {% cycle '<tr>' '' '' %}
  {% cycle '' '' '' '</tr>' %}
  {% endfor %}
</table>

</body>
</html>