  <div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-heading" role="tab" id="headingOne">
        <h4 class="card-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Einzelbestellungen
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="collapse-off" data-parent="#accordion">
        <div class="card-body">


  {% for field in form %}
          <div class="form-group mb-3">
<!--            <div class="col-sm-offset-2 col-sm-10">-->
<!--              <span class="text-danger small">{{ field.errors }}</span>-->
<!--            </div>-->
<!--            <span class="input-group-text">{{ field.label_tag }}</span>-->
<!--            <input type="text" class="form-control">{{ field }}-->
<!--          </div>-->

            <label for='{{ field.label_tag }}'>{{ field.label_tag }}</label>
            <div type="text" id='{{ field.label_tag }}'>{{ field }}</div>
          </div>

  {% endfor %}

          </div>
      </div>
    </div>
  </div>