<!--<div class="popup" onclick="myFunction()">Click me to toggle the popup!-->
  <!--<span class="popuptext" id="myPopup">A Simple Popup!</span>-->
<!--</div>-->
<a class="btn btn-info btn-sm" href="{% url 'update_bestellung' record.id %}">Überführen</a>
<!--<a class="btn btn-info btn-sm" href="">Drucken</a>-->
<!--href=" url 'training_update' record.id "-->
<!--<script>-->
<!--// When the user clicks on div, open the popup-->
<!--function myFunction() {-->
  <!--var popup = document.getElementById("myPopup");-->
  <!--popup.classList.toggle("show");-->
<!--}-->
<!--</script>-->