{% extends 'stock/base.html' %}

{% load render_table from django_tables2 %}

{% block style %}

{% comment %}
<style>

* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
.col-1 {
    background: #D7E8D4;
    flex: 1;
}
.col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
}
.content {
    display: flex;
    flex-direction: row;
}
.content > article {
    flex: 4;
    min-height: 60vh;
}
header, footer {
    background: yellowgreen;
    height: 20vh;
}
header, footer, article {
    padding: 1em;
}

</style>

{% endcomment %}
{% endblock %}

<body>

<!--<div class="col-2">-->
{% block body %}
<h2><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Lager</span></h2>

<main class="content">
    <div>
        <h3> Material</h3>

    {% render_table material %}

        <h3> Artikel</h3>

    {% render_table article %}

        <h3> Maschinen</h3>

    {% render_table moulding_machine %}

        <h3> Kunden</h3>

    {% render_table customer %}

  </div>
</main>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{% url 'bestellung_index' %}">Bestellungen</a>
  <a href="{% url 'auftrag_index' %}">Aufträge</a>
  <a href="#">Produktionsaufträge</a>
  <a href="#">Lieferscheine</a>
  <a href="#">Rechnungen</a>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
{% endblock %}